@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* LAYOUT */
  --max-width: 77.5rem; /* 1240px */

  /* COLORS */
  --accent: #92CACB; /* main */
  --accent-v50: #EEF5F5;
  --accent-v75: #ADD7F1;
  --accent-v100: #8FB8B9;
  --accent-v700: #336668;
  --accent-v800: #255253;
  --accent-v900: #1C3E3F;

  --neutral-default: #22292A;
  --neutral-thin: #565656;
  --neutral-delicate: #E6E9EA;
  --neutral-luminous: #FDFDFD;
  
  --ca-default: #f1f1f1;

  /* Web Tools */
  --ca-emerald-v50: #ecfdf5;
  --ca-emerald-v700: #047857;
  /* NPM Dependencies */
  --ca-yellow-v50: #fefce8;
  --ca-yellow-v700: #a16207;
  /* Icons */
  --ca-blue-v50: #eff6ff;
  --ca-blue-v700: #1d4ed8;
  /* Colors */
  --ca-pink-v50: #fdf2f8;
  --ca-pink-v700: #be185d;
  /* Play Grounds */
  --ca-green-v50: #f0fdf4;
  --ca-green-v700: #15803d;
  /* UI Builders */
  --ca-red-v50: #fef2f2;
  --ca-red-v700: #b91c1c;
  /* Vectors */
  --ca-orange-v50: #fff7ed;
  --ca-orange-v700: #c2410c;
  /* Fonts */
  --ca-stone-v50: #fafaf9;
  --ca-stone-v700: #44403c;
  /* Free stock */
  --ca-fuchsia-v50: #faf5ff;
  --ca-fuchsia-v700: #a21caf;
  /* Web API */
  --ca-indigo-v50: #eef2ff;
  --ca-indigo-v700: #4338ca;
  /* Design System */
  --ca-cyan-v50: #ecfeff;
  --ca-cyan-v700: #0e7490;

  /* TYPOGRAPHY */
  --heading-font: "Rubik";
  --body-font: "Poppins";
}


/* UTILS CLASSES */

/* layout */

.l-container {
  @apply px-4 lg:mx-auto w-full xl:px-0 max-w-[var(--max-width)]
}

/* theme  */

.heading-font {
  font-family: var(--heading-font);
  @apply leading-tight text-[var(--neutral-default)] dark:text-[var(--neutral-luminous)];
}

.body-font {
  font-family: var(--body-font);
  @apply leading-relaxed text-[var(--neutral-default)] dark:text-[var(--neutral-luminous)];
}

/* RESET STYLES */

body {
  font-family: var(--body-font);
  @apply leading-relaxed text-[var(--neutral-default)] dark:text-[var(--neutral-luminous)] bg-[var(--accent-v50)] dark:bg-[var(--accent-v800)];
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: var(--heading-font);
 @apply leading-tight text-[var(--neutral-default)] dark:text-[var(--neutral-luminous)];
}